<!DOCTYPE HTML>
<html ng-app="EpicSteamRoulette">
  <head>
    <title>Epic Steam Roulette</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body ng-controller="HomeCtrl">
    <div class="container-fluid">
      <ui-view></ui-view>
    </div>

    <script type="text/ng-template" id="home.html">
      <div class="row">
        <form  class="form-inline">
          <div class="form-group">
            <input type="text" ng-model="name" class="form-control">
            <button class="btn btn-primary" ng-click="getID()">Ok</button>
          </div>
        </form>
      </div>
    </script>

    <script type="text/ng-template" id="roulette.html">
      {{test}}
      {{id}}
    </script>

  </body>
</html>
