<html>
  <head>
    <title>Epic Steam Roulette - <%= username %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body ng-app="EpicSteamRoulette" ng-controller="RouletteCtrl" ng-init="games = <%= games %>">
    <div class="container-fluid">
      <div class="row">
        <button class="btn btn-primary" ng-click="pickGame()">Pick a game!</button>
      </div>
      <div ng-repeat="game in games.gameArray" class="row">
        {{game.name}} {{game.progress | number:1}} {{game.totalPlaytime / 60 | number:1}}h
      </div>
    </div>
  </body>
</html>
